@import "Fullscreen.less";

/* textpic contentelements */
.ce-text-image {

    /* grid style */
    &.beside-text-right,
    &.beside-text-left {
        .row;

        &.imagewidth-half {

            div.images,
            div.text {
                .make-sm-column(6);
            }
        }

        &.imagewidth-third {

            div.images {
                .make-xs-column(6);
                .make-sm-column(4);
            }
            div.text {
                .make-xs-column(6);
                .make-sm-column(8);
            }
        }

        &.imagewidth-quarter {

            div.images {
                .make-xs-column(5);
                .make-sm-column(4);
                .make-md-column(3);
            }
            div.text {
                .make-xs-column(7);
                .make-sm-column(8);
                .make-md-column(9);
            }
        }
    }

    &.beside-text-right {
        > div.images {
             float: right !important;
        }
    }

    /* float style */
    &.in-text-right,
    &.in-text-left {

        &.imagewidth-half {

            > div.images {
                width: 50%;
                min-height: 1px;

                @media (max-width: @screen-sm-min) {
                    width: 100%;
                }
            }
        }

        &.imagewidth-third {
            .imagewidth-half;

            > div.images {
                width: 33%;

                @media (max-width: @screen-sm-min) {
                    width: 50%;
                }
            }
        }

        &.imagewidth-quarter {
            .imagewidth-third;

            > div.images {
                width: 25%;
            }
        }
    }

    &.in-text-right {
        > div.images {
            float: right;
        }
    }
    &.in-text-left {
        > div.images {
            float: left;
        }
    }

    // space to text
    &.in-text-right {
        > div.images {
            padding: 0 0 0 @grid-gutter-width/2;
            margin: 0 0 0 @grid-gutter-width/2;
        }
    }
    &.in-text-left {
        > div.images {
            padding: 0 @grid-gutter-width/2 0 0;
            margin: 0 @grid-gutter-width/2 0 0;
        }
    }
    @media(min-width: @screen-sm-min) {
        &.imagewidth-half {
            &.in-text-right,
            &.in-text-left {
                padding: 0;
                margin: 0;
            }
        }
    }
}

/* images content element */
.ce-images {

    img {
        display: inline-block;
    }

    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
    &.align-left {
        text-align: left;
    }

    &.imagewidth-full > div.images > div.image {
        .make-sm-column(12);
    }

    &.imagewidth-half > div.images > div.image {
        .make-sm-column(6);
    }

    &.imagewidth-third > div.images > div.image {
        .make-sm-column(6);
        .make-md-column(4);
    }

    &.imagewidth-quarter > div.images > div.image {
        .make-xs-column(6);
        .make-sm-column(4);
        .make-md-column(3);
    }

    /* option "Display as Rows" is not active */
    &.view-rows {

        @media (min-width: @screen-lg-min) {
            &.imagewidth-half > div.images > div.image:nth-child(2n+3) {
                clear: both;
            }

            &.imagewidth-third > div.images > div.image:nth-child(3n+4) {
                clear: both;
            }

            &.imagewidth-quarter > div.images > div.image:nth-child(4n+5) {
                clear: both;
            }
        }

        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            &.imagewidth-half > div.images > div.image:nth-child(2n+3) {
                clear: both;
            }

            &.imagewidth-third > div.images > div.image:nth-child(3n+4) {
                clear: both;
            }

            &.imagewidth-quarter > div.images > div.image:nth-child(3n+4) {
                clear: both;
            }
        }

        @media (min-width: @screen-sm-min)  and (max-width: @screen-sm-max) {
            &.imagewidth-half > div.images > div.image:nth-child(2n+3) {
                clear: both;
            }

            &.imagewidth-third > div.images > div.image:nth-child(2n+3) {
                clear: both;
            }

            &.imagewidth-quarter > div.images > div.image:nth-child(3n+4) {
                clear: both;
            }
        }

        @media (max-width: @screen-xs-max) {
            &.imagewidth-quarter > div.images > div.image:nth-child(2n+3) {
                clear: both;
            }
        }
    }
}

/* caption */
.ce-images,
.ce-text-image {

    &.img-bordered img {
        border: 1px solid @hr-border;
    }

    div.image {
        margin-bottom: @padding-large-vertical;

        img {
            margin-bottom: @padding-large-vertical;
        }
    }

    span.caption {
        .small;
        display: block;
        line-height: 1.2;
        margin-top: -@padding-large-vertical;
    }
}
