
img[data-fullscreen-toogle] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.fullscreen-element,
.fullscreen-element img[data-fullscreen-toogle],
.fullscreen-backdrop {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

//noinspection CssOverwrittenProperties
.fullscreen-element {
    position: fixed !important;
    z-index: 2001 !important;
    // IE 9 uses "vm" instead of "vmin"
    left: calc(~"50vw - 50vm") !important;
    left: calc(~"50vw - 50vmin") !important;
    top: calc(~"50vh - 50vm") !important;
    top: calc(~"50vh - 50vmin") !important;
    width: 100vm !important;
    width: 100vmin !important;
    height: 100vm !important;
    height: 100vmin !important;
    overflow: auto;
    float: none !important;

    img {
        display: block !important;
        width: auto;
        height: auto;
        position: relative;
        left: 50vm;
        left: 50vmin;
        top: 50vm;
        top: 50vmin;
        .translate(-50%, -50%);
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .caption {
        display: none;
    }
}

.fullscreen-backdrop {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
}