{namespace hn = Hn\HnContentelements\ViewHelpers}

<div class="ce-text-image clearfix {hn:imageClass(data:data)}">

    <hn:explode data="{images}" as="imageRefUids">
        <div class="images">

            <f:for each="{imageRefUids}" as="imageRefUid" iteration="imagesIterator">

                <div class="image">
                    <div class="image-wrap">
                        <hn:image imageZoom="{data.image_zoom}"
                                  typolinkParams="{hn:FileReferenceProperty(fileReferenceUid: imageRefUid, property: 'link')}"
                                  class="img-responsive"
                                  src="{imageRefUid}"
                                  treatIdAsReference="1"
                                  additionalAttributes="{loading: 'lazy'}"
                                  maxWidth="{f:if(condition: '{data.imagewidth} > 1', then: 768, else: 1140)}" />
                    </div>

                    <f:if condition="{hn:FileReferenceProperty(fileReferenceUid: imageRefUid, property: 'description')}">
                        <span class="caption">{hn:FileReferenceProperty(fileReferenceUid: imageRefUid, property: 'description')}</span>
                    </f:if>

                </div>

            </f:for>
        </div>
    </hn:explode>

    <div class="text">
        <f:format.html>{data.bodytext}</f:format.html>
    </div>

</div>

